RewriteEngine On
RewriteBase /g502/

# 1. No hacer nada si es un archivo o carpeta real
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# 2. URLs Limpias que funcionan en subcarpetas (como publico1/login)
RewriteCond %{DOCUMENT_ROOT}/g502/$1.php -f
RewriteRule ^(.+)$ $1.php [L]

DirectoryIndex index.php

<Files "keys.php">
    Require all denied
</Files>